In [1]:
#importing pyspark
import pyspark

In [2]:
#importing sparksession
from pyspark.sql import SparkSession

In [3]:
#creating a sparksession object and providing appName 
spark=SparkSession.builder.appName("dataframe1").getOrCreate()

# Ways of Creating dataframe in pyspark

# Create Dataframe from Tuples

In [4]:
data = [(1, 'Dhoni', 'Male', 38, 10),
        (2, 'Virat' , 'Male', 30, 5),
        (3, 'Smriti', 'Female', 25, 9),
        (4, 'Sachin', 'Male', 45, 50),
        (5, 'Mitali', 'Female', 35, 7)
       ]

columns = ["ID", "Cricketer Name", "Gender", "Age", "Century"]

In [5]:
df = spark.createDataFrame(data, columns)

In [6]:
display(df)

DataFrame[ID: bigint, Cricketer Name: string, Gender: string, Age: bigint, Century: bigint]

In [7]:
df.show()

+---+--------------+------+---+-------+
| ID|Cricketer Name|Gender|Age|Century|
+---+--------------+------+---+-------+
|  1|         Dhoni|  Male| 38|     10|
|  2|         Virat|  Male| 30|      5|
|  3|        Smriti|Female| 25|      9|
|  4|        Sachin|  Male| 45|     50|
|  5|        Mitali|Female| 35|      7|
+---+--------------+------+---+-------+

# Create Dataframe from Dictionary

In [8]:
data = [{'Flower': 'Rose', 'price': 100, 'quantity': 10},
        {'Flower': 'Tulip', 'price': 500, 'quantity': 10},
        {'Flower': 'Sunflower', 'price': 400, 'quantity': 6},
        {'Flower': 'Jasmine', 'price': 100, 'quantity': 12}]

In [9]:
# creating a dataframe
df1 = spark.createDataFrame(data)

In [10]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [11]:
df1.show()

+---------+-----+--------+
|   Flower|price|quantity|
+---------+-----+--------+
|     Rose|  100|      10|
|    Tulip|  500|      10|
|Sunflower|  400|       6|
|  Jasmine|  100|      12|
+---------+-----+--------+

In [12]:
#importing pandas library
import pandas as pd

# Create Pandas Dataframe

In [13]:
pandasDF = pd.read_csv("airlines1.csv")

In [14]:
pandasDF.shape

(50001, 110)

In [15]:
pandasDF

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,0,1998,1,1,2,5,1998-01-02,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2009,2,5,28,4,2009-05-28,FL,20437,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013,2,6,29,6,2013-06-29,MQ,20398,MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2010,3,8,31,2,2010-08-31,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2006,1,1,15,7,2006-01-15,US,20355,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,49996,1999,4,10,12,2,1999-10-12,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,49997,2010,4,11,1,1,2010-11-01,OH,20417,OH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,49998,2006,2,4,30,7,2006-04-30,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,49999,2009,3,7,8,3,2009-07-08,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50000,50000,2006,2,5,17,3,2006-05-17,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Create spark Dataframe from Pandas Dataframe

# we need to cast all the columns in the pandas df to string type to overcome this datatype issue while converting pandas df to spark df

In [16]:
sparkDF=spark.createDataFrame(pandasDF.astype(str))

In [17]:
sparkDF.printSchema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Quarter: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- FlightDate: string (nullable = true)
 |-- Reporting_Airline: string (nullable = true)
 |-- DOT_ID_Reporting_Airline: string (nullable = true)
 |-- IATA_CODE_Reporting_Airline: string (nullable = true)
 |-- Tail_Number: string (nullable = true)
 |-- Flight_Number_Reporting_Airline: string (nullable = true)
 |-- OriginAirportID: string (nullable = true)
 |-- OriginAirportSeqID: string (nullable = true)
 |-- OriginCityMarketID: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- OriginCityName: string (nullable = true)
 |-- OriginState: string (nullable = true)
 |-- OriginStateFips: string (nullable = true)
 |-- OriginStateName: string (nullable = true)
 |-- OriginWac: string (nullable = true)
 |-- DestAirportID: string (nullable = true)
 |-- DestAirportSeqID: string (nullable = true)
 |-- DestCityMarketID: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- DestCityName: string (nullable = true)
 |-- DestState: string (nullable = true)
 |-- DestStateFips: string (nullable = true)
 |-- DestStateName: string (nullable = true)
 |-- DestWac: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- DepDelayMinutes: string (nullable = true)
 |-- DepDel15: string (nullable = true)
 |-- DepartureDelayGroups: string (nullable = true)
 |-- DepTimeBlk: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- WheelsOff: string (nullable = true)
 |-- WheelsOn: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- ArrDelayMinutes: string (nullable = true)
 |-- ArrDel15: string (nullable = true)
 |-- ArrivalDelayGroups: string (nullable = true)
 |-- ArrTimeBlk: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- Flights: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- DistanceGroup: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- FirstDepTime: string (nullable = true)
 |-- TotalAddGTime: string (nullable = true)
 |-- LongestAddGTime: string (nullable = true)
 |-- DivAirportLandings: string (nullable = true)
 |-- DivReachedDest: string (nullable = true)
 |-- DivActualElapsedTime: string (nullable = true)
 |-- DivArrDelay: string (nullable = true)
 |-- DivDistance: string (nullable = true)
 |-- Div1Airport: string (nullable = true)
 |-- Div1AirportID: string (nullable = true)
 |-- Div1AirportSeqID: string (nullable = true)
 |-- Div1WheelsOn: string (nullable = true)
 |-- Div1TotalGTime: string (nullable = true)
 |-- Div1LongestGTime: string (nullable = true)
 |-- Div1WheelsOff: string (nullable = true)
 |-- Div1TailNum: string (nullable = true)
 |-- Div2Airport: string (nullable = true)
 |-- Div2AirportID: string (nullable = true)
 |-- Div2AirportSeqID: string (nullable = true)
 |-- Div2WheelsOn: string (nullable = true)
 |-- Div2TotalGTime: string (nullable = true)
 |-- Div2LongestGTime: string (nullable = true)
 |-- Div2WheelsOff: string (nullable = true)
 |-- Div2TailNum: string (nullable = true)
 |-- Div3Airport: string (nullable = true)
 |-- Div3AirportID: string (nullable = true)
 |-- Div3AirportSeqID: string (nullable = true)
 |-- Div3WheelsOn: string (nullable = true)
 |-- Div3TotalGTime: string (nullable = true)
 |-- Div3LongestGTime: string (nullable = true)
 |-- Div3WheelsOff: string (nullable = true)
 |-- Div3TailNum: string (nullable = true)
 |-- Div4Airport: string (nullable = true)
 |-- Div4AirportID: string (nullable = true)
 |-- Div4AirportSeqID: string (nullable = true)
 |-- Div4WheelsOn: string (nullable = true)
 |-- Div4TotalGTime: string (nullable = true)
 |-- Div4LongestGTime: string (nullable = true)
 |-- Div4WheelsOff: string (nullable = true)
 |-- Div4TailNum: string (nullable = true)
 |-- Div5Airport: string (nullable = true)
 |-- Div5AirportID: string (nullable = true)
 |-- Div5AirportSeqID: string (nullable = true)
 |-- Div5WheelsOn: string (nullable = true)
 |-- Div5TotalGTime: string (nullable = true)
 |-- Div5LongestGTime: string (nullable = true)
 |-- Div5WheelsOff: string (nullable = true)
 |-- Div5TailNum: string (nullable = true)

In [18]:
sparkDF.show()

+----------+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|Unnamed: 0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+----------+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|         0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|             nan|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|             nan|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|             nan|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|             nan|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|             nan|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|             nan|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|             nan|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|             nan|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|             nan|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|             nan|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|

In [19]:
sparknewdf = sparkDF.select("Year", "Month", "DayofMonth" , "FlightDate","Tail_Number", "Flight_Number_Reporting_Airline" )

In [20]:
sparknewdf.show()

+----+-----+----------+----------+-----------+-------------------------------+
|Year|Month|DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+----+-----+----------+----------+-----------+-------------------------------+
|1998|    1|         2|1998-01-02|     N297US|                            675|
|2009|    5|        28|2009-05-28|     N946AT|                            671|
|2013|    6|        29|2013-06-29|     N665MQ|                           3297|
|2010|    8|        31|2010-08-31|     N6705Y|                           1806|
|2006|    1|        15|2006-01-15|     N504AU|                            465|
|1995|   11|        29|1995-11-29|     N925DL|                           1198|
|2006|    8|         7|2006-08-07|     N27724|                           1431|
|2019|    6|        11|2019-06-11|     N927XJ|                           3459|
|2008|    8|         3|2008-08-03|     N522LR|                           7233|
|2018|    2|         8|2018-02-08|     N8688J|                           5932|
|1991|   11|        21|1991-11-21|        nan|                           2135|
|2014|    4|         3|2014-04-03|     N374SW|                           1463|
|1994|    7|        24|1994-07-24|        nan|                            830|
|2013|    6|        30|2013-06-30|     N947SW|                           6474|
|2003|   11|        21|2003-11-21|     N308UA|                            674|
|1988|    4|         4|1988-04-04|        nan|                            362|
|2007|    9|         5|2007-09-05|     N8928E|                           1678|
|2015|    9|         5|2015-09-05|     N589AS|                            413|
|2006|    1|        28|2006-01-28|     N426UA|                            210|
|2017|    7|        26|2017-07-26|     N252WN|                            995|
+----+-----+----------+----------+-----------+-------------------------------+
only showing top 20 rows

# Create Pandas Dataframe from Spark Dataframe

In [21]:
pdf = sparknewdf.toPandas()

In [22]:
from pyspark.sql.functions import date_format, format_string, date_add, to_timestamp, to_json

In [23]:
pdf

,Year,Month,DayofMonth,FlightDate,Tail_Number,Flight_Number_Reporting_Airline
0,1998,1,2,1998-01-02,N297US,675
1,2009,5,28,2009-05-28,N946AT,671
2,2013,6,29,2013-06-29,N665MQ,3297
3,2010,8,31,2010-08-31,N6705Y,1806
4,2006,1,15,2006-01-15,N504AU,465
...,...,...,...,...,...,...
49996,1999,10,12,1999-10-12,N311,1723
49997,2010,11,1,2010-11-01,N940CA,6601
49998,2006,4,30,2006-04-30,N509UA,493
49999,2009,7,8,2009-07-08,N804FR,573
50000,2006,5,17,2006-05-17,N388AA,2401

Create Dataframe from csv file

In [24]:
#To create dataframe form External datasets
df = spark.read.option("header", "true").csv("airlines1.csv")

In [25]:
df.show()

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|