In [3]:
!pip install pandas

Requirement already satisfied: pandas in /Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/lib/python3.7/site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 22.0.2 is available.
You should consider upgrading via the '/Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/bin/python -m pip install --upgrade pip' command.

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("airlines1.csv")

In [12]:
df.columns.values

array(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth',
       'DayOfWeek', 'FlightDate', 'Reporting_Airline',
       'DOT_ID_Reporting_Airline', 'IATA_CODE_Reporting_Airline',
       'Tail_Number', 'Flight_Number_Reporting_Airline',
       'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID',
       'Origin', 'OriginCityName', 'OriginState', 'OriginStateFips',
       'OriginStateName', 'OriginWac', 'DestAirportID',
       'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac',
       'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'Cancelled', 'CancellationCode', 'Diverted', 'CRSElapsedTime',
       'ActualElapsedTime', 'AirTime', 'Flights', 'Distance',
       'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime',
       'TotalAddGTime', 'LongestAddGTime', 'DivAirportLandings',
       'DivReachedDest', 'DivActualElapsedTime', 'DivArrDelay',
       'DivDistance', 'Div1Airport', 'Div1AirportID', 'Div1AirportSeqID',
       'Div1WheelsOn', 'Div1TotalGTime', 'Div1LongestGTime',
       'Div1WheelsOff', 'Div1TailNum', 'Div2Airport', 'Div2AirportID',
       'Div2AirportSeqID', 'Div2WheelsOn', 'Div2TotalGTime',
       'Div2LongestGTime', 'Div2WheelsOff', 'Div2TailNum', 'Div3Airport',
       'Div3AirportID', 'Div3AirportSeqID', 'Div3WheelsOn',
       'Div3TotalGTime', 'Div3LongestGTime', 'Div3WheelsOff',
       'Div3TailNum', 'Div4Airport', 'Div4AirportID', 'Div4AirportSeqID',
       'Div4WheelsOn', 'Div4TotalGTime', 'Div4LongestGTime',
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'], dtype=object)

In [13]:
#importing pyspark
import pyspark

In [14]:
#importing sparksession
from pyspark.sql import SparkSession

In [15]:
#creating a sparksession object and providing appName 
spark=SparkSession.builder.appName("airline").getOrCreate()

22/01/31 18:10:57 WARN Utils: Your hostname, Nihits-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
22/01/31 18:10:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/31 18:10:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
spark.stop()

In [16]:
#To create dataframe form External datasets
df = spark.read.option("header", "true").csv("airlines1.csv")

In [17]:
df.show()

22/01/31 18:12:36 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
22/01/31 18:12:37 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, Div4TailNum, Div5Airport, Div5AirportID, Div5AirportSeqID, Div5WheelsOn, Div5TotalGTime, Div5LongestGTime, Div5WheelsOff, Div5TailNum
 Schema: _c0, Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, Div4TailNum, Div5Airport, Div5AirportID, Div5AirportSeqID, Div5WheelsOn, Div5TotalGTime, Div5LongestGTime, Div5WheelsOff, Div5TailNum
Expected: _c0 but found:
CSV file: file:///Users/nihitsaxena/DataStunt/Desyre/Pyspark/P2/proj/code/airlines1.csv

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

In [18]:
df1 = df.select("Year", "Month", "DayofMonth" , "FlightDate","Tail_Number", "Flight_Number_Reporting_Airline" )

In [19]:
# To display dataframe use show() function it display first 20 rows
df1.show()

+----+-----+----------+----------+-----------+-------------------------------+
|Year|Month|DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+----+-----+----------+----------+-----------+-------------------------------+
|1998|    1|         2|1998-01-02|     N297US|                            675|
|2009|    5|        28|2009-05-28|     N946AT|                            671|
|2013|    6|        29|2013-06-29|     N665MQ|                           3297|
|2010|    8|        31|2010-08-31|     N6705Y|                           1806|
|2006|    1|        15|2006-01-15|     N504AU|                            465|
|1995|   11|        29|1995-11-29|     N925DL|                           1198|
|2006|    8|         7|2006-08-07|     N27724|                           1431|
|2019|    6|        11|2019-06-11|     N927XJ|                           3459|
|2008|    8|         3|2008-08-03|     N522LR|                           7233|
|2018|    2|         8|2018-02-08|     N8688J|                           5932|
|1991|   11|        21|1991-11-21|       null|                           2135|
|2014|    4|         3|2014-04-03|     N374SW|                           1463|
|1994|    7|        24|1994-07-24|       null|                            830|
|2013|    6|        30|2013-06-30|     N947SW|                           6474|
|2003|   11|        21|2003-11-21|     N308UA|                            674|
|1988|    4|         4|1988-04-04|       null|                            362|
|2007|    9|         5|2007-09-05|     N8928E|                           1678|
|2015|    9|         5|2015-09-05|     N589AS|                            413|
|2006|    1|        28|2006-01-28|     N426UA|                            210|
|2017|    7|        26|2017-07-26|     N252WN|                            995|
+----+-----+----------+----------+-----------+-------------------------------+
only showing top 20 rows

In [20]:
df1.collect()

[Row(Year='1998', Month='1', DayofMonth='2', FlightDate='1998-01-02', Tail_Number='N297US', Flight_Number_Reporting_Airline='675'),
 Row(Year='2009', Month='5', DayofMonth='28', FlightDate='2009-05-28', Tail_Number='N946AT', Flight_Number_Reporting_Airline='671'),
 Row(Year='2013', Month='6', DayofMonth='29', FlightDate='2013-06-29', Tail_Number='N665MQ', Flight_Number_Reporting_Airline='3297'),
 Row(Year='2010', Month='8', DayofMonth='31', FlightDate='2010-08-31', Tail_Number='N6705Y', Flight_Number_Reporting_Airline='1806'),
 Row(Year='2006', Month='1', DayofMonth='15', FlightDate='2006-01-15', Tail_Number='N504AU', Flight_Number_Reporting_Airline='465'),
 Row(Year='1995', Month='11', DayofMonth='29', FlightDate='1995-11-29', Tail_Number='N925DL', Flight_Number_Reporting_Airline='1198'),
 Row(Year='2006', Month='8', DayofMonth='7', FlightDate='2006-08-07', Tail_Number='N27724', Flight_Number_Reporting_Airline='1431'),
 Row(Year='2019', Month='6', DayofMonth='11', FlightDate='2019-06-11', Tail_Number='N927XJ', Flight_Number_Reporting_Airline='3459'),
 Row(Year='2008', Month='8', DayofMonth='3', FlightDate='2008-08-03', Tail_Number='N522LR', Flight_Number_Reporting_Airline='7233'),
 Row(Year='2018', Month='2', DayofMonth='8', FlightDate='2018-02-08', Tail_Number='N8688J', Flight_Number_Reporting_Airline='5932'),
 Row(Year='1991', Month='11', DayofMonth='21', FlightDate='1991-11-21', Tail_Number=None, Flight_Number_Reporting_Airline='2135'),
 Row(Year='2014', Month='4', DayofMonth='3', FlightDate='2014-04-03', Tail_Number='N374SW', Flight_Number_Reporting_Airline='1463'),
 Row(Year='1994', Month='7', DayofMonth='24', FlightDate='1994-07-24', Tail_Number=None, Flight_Number_Reporting_Airline='830'),
 Row(Year='2013', Month='6', DayofMonth='30', FlightDate='2013-06-30', Tail_Number='N947SW', Flight_Number_Reporting_Airline='6474'),
 Row(Year='2003', Month='11', DayofMonth='21', FlightDate='2003-11-21', Tail_Number='N308UA', Flight_Number_Reporting_Airline='674'),
 Row(Year='1988', Month='4', DayofMonth='4', FlightDate='1988-04-04', Tail_Number=None, Flight_Number_Reporting_Airline='362'),
 Row(Year='2007', Month='9', DayofMonth='5', FlightDate='2007-09-05', Tail_Number='N8928E', Flight_Number_Reporting_Airline='1678'),
 Row(Year='2015', Month='9', DayofMonth='5', FlightDate='2015-09-05', Tail_Number='N589AS', Flight_Number_Reporting_Airline='413'),
 Row(Year='2006', Month='1', DayofMonth='28', FlightDate='2006-01-28', Tail_Number='N426UA', Flight_Number_Reporting_Airline='210'),
 Row(Year='2017', Month='7', DayofMonth='26', FlightDate='2017-07-26', Tail_Number='N252WN', Flight_Number_Reporting_Airline='995'),
 Row(Year='2013', Month='9', DayofMonth='17', FlightDate='2013-09-17', Tail_Number='N425UA', Flight_Number_Reporting_Airline='330'),
 Row(Year='2013', Month='4', DayofMonth='10', FlightDate='2013-04-10', Tail_Number='N975EV', Flight_Number_Reporting_Airline='5319'),
 Row(Year='1991', Month='10', DayofMonth='28', FlightDate='1991-10-28', Tail_Number=None, Flight_Number_Reporting_Airline='653'),
 Row(Year='2020', Month='3', DayofMonth='24', FlightDate='2020-03-24', Tail_Number='N933LR', Flight_Number_Reporting_Airline='5825'),
 Row(Year='2010', Month='8', DayofMonth='20', FlightDate='2010-08-20', Tail_Number='N976SW', Flight_Number_Reporting_Airline='6582'),
 Row(Year='1997', Month='1', DayofMonth='7', FlightDate='1997-01-07', Tail_Number='N800US', Flight_Number_Reporting_Airline='512'),
 Row(Year='2000', Month='8', DayofMonth='23', FlightDate='2000-08-23', Tail_Number='N2DEAA', Flight_Number_Reporting_Airline='692'),
 Row(Year='2013', Month='2', DayofMonth='3', FlightDate='2013-02-03', Tail_Number='N870AS', Flight_Number_Reporting_Airline='4906'),
 Row(Year='1993', Month='10', DayofMonth='30', FlightDate='1993-10-30', Tail_Number=None, Flight_Number_Reporting_Airline='1437'),
 Row(Year='1993', Month='6', DayofMonth='30', FlightDate='1993-06-30', Tail_Number=None, Flight_Number_Reporting_Airline='451'),
 Row(Year='2019', Month='9', DayofMonth='2', FlightDate='2019-09-02', Tail_Number='N203JQ', Flight_Number_Reporting_Airline='6104'),
 Row(Year='2019', Month='3', DayofMonth='27', FlightDate='2019-03-27', Tail_Number='N582NN', Flight_Number_Reporting_Airline='5125'),
 Row(Year='1994', Month='5', DayofMonth='31', FlightDate='1994-05-31', Tail_Number=None, Flight_Number_Reporting_Airline='3'),
 Row(Year='2016', Month='3', DayofMonth='9', FlightDate='2016-03-09', Tail_Number='N7706A', Flight_Number_Reporting_Airline='5859'),
 Row(Year='2006', Month='11', DayofMonth='6', FlightDate='2006-11-06', Tail_Number='N326', Flight_Number_Reporting_Airline='1432'),
 Row(Year='1993', Month='12', DayofMonth='28', FlightDate='1993-12-28', Tail_Number=None, Flight_Number_Reporting_Airline='11'),
 Row(Year='2001', Month='9', DayofMonth='25', FlightDate='2001-09-25', Tail_Number='NKNO', Flight_Number_Reporting_Airline='6529'),
 Row(Year='1997', Month='3', DayofMonth='2', FlightDate='1997-03-02', Tail_Number='N164AA', Flight_Number_Reporting_Airline='72'),
 Row(Year='2018', Month='6', DayofMonth='25', FlightDate='2018-06-25', Tail_Number='N475UA', Flight_Number_Reporting_Airline='781'),
 Row(Year='2007', Month='2', DayofMonth='28', FlightDate='2007-02-28', Tail_Number='N969AS', Flight_Number_Reporting_Airline='502'),
 Row(Year='2000', Month='3', DayofMonth='28', FlightDate='2000-03-28', Tail_Number='N533AA', Flight_Number_Reporting_Airline='1591'),
 Row(Year='1995', Month='2', DayofMonth='16', FlightDate='1995-02-16', Tail_Number='N485AA', Flight_Number_Reporting_Airline='1211'),
 Row(Year='1992', Month='7', DayofMonth='21', FlightDate='1992-07-21', Tail_Number=None, Flight_Number_Reporting_Airline='638'),
 Row(Year='2015', Month='3', DayofMonth='12', FlightDate='2015-03-12', Tail_Number='N8605E', Flight_Number_Reporting_Airline='3231'),
 Row(Year='2012', Month='7', DayofMonth='25', FlightDate='2012-07-25', Tail_Number='N631AW', Flight_Number_Reporting_Airline='261'),
 Row(Year='2017', Month='5', DayofMonth='5', FlightDate='2017-05-05', Tail_Number='N946WN', Flight_Number_Reporting_Airline='1395'),
 Row(Year='1994', Month='12', DayofMonth='7', FlightDate='1994-12-07', Tail_Number=None, Flight_Number_Reporting_Airline='701'),
 Row(Year='1994', Month='8', DayofMonth='19', FlightDate='1994-08-19', Tail_Number=None, Flight_Number_Reporting_Airline='319'),
 Row(Year='2002', Month='5', DayofMonth='2', FlightDate='2002-05-02', Tail_Number='N325DL', Flight_Number_Reporting_Airline='2408'),
 Row(Year='1999', Month='5', DayofMonth='31', FlightDate='1999-05-31', Tail_Number='N906AW', Flight_Number_Reporting_Airline='2038'),
 Row(Year='2014', Month='6', DayofMonth='12', FlightDate='2014-06-12', Tail_Number='N488WN', Flight_Number_Reporting_Airline='141'),
 Row(Year='2000', Month='6', DayofMonth='29', FlightDate='2000-06-29', Tail_Number='N545US', Flight_Number_Reporting_Airline='1224'),
 Row(Year='2011', Month='4', DayofMonth='21', FlightDate='2011-04-21', Tail_Number='N77302', Flight_Number_Reporting_Airline='1003'),
 Row(Year='2004', Month='12', DayofMonth='21', FlightDate='2004-12-21', Tail_Number='N691WN', Flight_Number_Reporting_Airline='1111'),
 Row(Year='1992', Month='12', DayofMonth='14', FlightDate='1992-12-14', Tail_Number=None, Flight_Number_Reporting_Airline='402'),
 Row(Year='2003', Month='6', DayofMonth='6', FlightDate='2003-06-06', Tail_Number='N706BR', Flight_Number_Reporting_Airline='7659'),
 Row(Year='2001', Month='10', DayofMonth='11', FlightDate='2001-10-11', Tail_Number='N513@@', Flight_Number_Reporting_Airline='378'),
 Row(Year='2005', Month='8', DayofMonth='14', FlightDate='2005-08-14', Tail_Number='N954SW', Flight_Number_Reporting_Airline='6917'),
 Row(Year='1989', Month='4', DayofMonth='10', FlightDate='1989-04-10', Tail_Number=None, Flight_Number_Reporting_Airline='878'),
 Row(Year='2017', Month='3', DayofMonth='10', FlightDate='2017-03-10', Tail_Number='N7832A', Flight_Number_Reporting_Airline='1506'),
 Row(Year='2008', Month='2', DayofMonth='2', FlightDate='2008-02-02', Tail_Number='N912DN', Flight_Number_Reporting_Airline='1209'),
 Row(Year='1997', Month='5', DayofMonth='26', FlightDate='1997-05-26', Tail_Number='N311AW', Flight_Number_Reporting_Airline='2866'),
 Row(Year='1995', Month='7', DayofMonth='15', FlightDate='1995-07-15', Tail_Number='N12411', Flight_Number_Reporting_Airline='773'),
 Row(Year='2019', Month='2', DayofMonth='13', FlightDate='2019-02-13', Tail_Number='N491WN', Flight_Number_Reporting_Airline='172'),
 Row(Year='2013', Month='2', DayofMonth='26', FlightDate='2013-02-26', Tail_Number='N704US', Flight_Number_Reporting_Airline='1669'),
 Row(Year='2008', Month='1', DayofMonth='25', FlightDate='2008-01-25', Tail_Number='N829UA', Flight_Number_Reporting_Airline='1163'),
 Row(Year='2015', Month='3', DayofMonth='17', FlightDate='2015-03-17', Tail_Number='N247JB', Flight_Number_Reporting_Airline='1729'),
 Row(Year='2007', Month='3', DayofMonth='19', FlightDate='2007-03-19', Tail_Number='N503AA', Flight_Number_Reporting_Airline='2344'),
 Row(Year='2008', Month='6', DayofMonth='30', FlightDate='2008-06-30', Tail_Number='N686DA', Flight_Number_Reporting_Airline='359'),
 Row(Year='2005', Month='7', DayofMonth='21', FlightDate='2005-07-21', Tail_Number='N6703D', Flight_Number_Reporting_Airline='2001'),
 Row(Year='2016', Month='5', DayofMonth='25', FlightDate='2016-05-25', Tail_Number='N907JB', Flight_Number_Reporting_Airline='1103'),
 Row(Year='2016', Month='5', DayofMonth='4', FlightDate='2016-05-04', Tail_Number='N481HA', Flight_Number_Reporting_Airline='208'),
 Row(Year='2006', Month='10', DayofMonth='23', FlightDate='2006-10-23', Tail_Number='N299AT', Flight_Number_Reporting_Airline='195'),
 Row(Year='1993', Month='3', DayofMonth='9', FlightDate='1993-03-09', Tail_Number=None, Flight_Number_Reporting_Airline='1475'),
 Row(Year='2005', Month='1', DayofMonth='18', FlightDate='2005-01-18', Tail_Number='N529US', Flight_Number_Reporting_Airline='1108'),
 Row(Year='2016', Month='8', DayofMonth='12', FlightDate='2016-08-12', Tail_Number='N856AA', Flight_Number_Reporting_Airline='2425'),
 Row(Year='1992', Month='1', DayofMonth='12', FlightDate='1992-01-12', Tail_Number=None, Flight_Number_Reporting_Airline='316'),
 Row(Year='1992', Month='1', DayofMonth='3', FlightDate='1992-01-03', Tail_Number=None, Flight_Number_Reporting_Airline='1258'),
 Row(Year='2004', Month='1', DayofMonth='12', FlightDate='2004-01-12', Tail_Number='N929DL', Flight_Number_Reporting_Airline='550'),
 Row(Year='1992', Month='3', DayofMonth='25', FlightDate='1992-03-25', Tail_Number=None, Flight_Number_Reporting_Airline='583'),
 Row(Year='2012', Month='3', DayofMonth='16', FlightDate='2012-03-16', Tail_Number='N632DL', Flight_Number_Reporting_Airline='2046'),
 Row(Year='2012', Month='12', DayofMonth='5', FlightDate='2012-12-05', Tail_Number='N233LV', Flight_Number_Reporting_Airline='939'),
 Row(Year='2013', Month='11', DayofMonth='21', FlightDate='2013-11-21', Tail_Number='N16919', Flight_Number_Reporting_Airline='4684'),
 Row(Year='2012', Month='9', DayofMonth='6', FlightDate='2012-09-06', Tail_Number='N730MQ', Flight_Number_Reporting_Airline='3342'),
 Row(Year='1996', Month='6', DayofMonth='23', FlightDate='1996-06-23', Tail_Number='N7266U', Flight_Number_Reporting_Airline='1079'),
 Row(Year='2001', Month='10', DayofMonth='6', FlightDate='2001-10-06', Tail_Number='-N662D', Flight_Number_Reporting_Airline='256'),
 Row(Year='1992', Month='3', DayofMonth='6', FlightDate='1992-03-06', Tail_Number=None, Flight_Number_Reporting_Airline='434'),
 Row(Year='1996', Month='12', DayofMonth='19', FlightDate='1996-12-19', Tail_Number='N777AU', Flight_Number_Reporting_Airline='796'),
 Row(Year='2005', Month='10', DayofMonth='24', FlightDate='2005-10-24', Tail_Number='N971SW', Flight_Number_Reporting_Airline='6700'),
 Row(Year='2017', Month='3', DayofMonth='9', FlightDate='2017-03-09', Tail_Number='N585AA', Flight_Number_Reporting_Airline='593'),
 Row(Year='2006', Month='7', DayofMonth='12', FlightDate='2006-07-12', Tail_Number='N505US', Flight_Number_Reporting_Airline='1224'),
 Row(Year='2008', Month='3', DayofMonth='28', FlightDate='2008-03-28', Tail_Number='N232SW', Flight_Number_Reporting_Airline='5457'),
 Row(Year='1995', Month='12', DayofMonth='8', FlightDate='1995-12-08', Tail_Number='N108DL', Flight_Number_Reporting_Airline='281'),
 Row(Year='2016', Month='6', DayofMonth='13', FlightDate='2016-06-13', Tail_Number='N279WN', Flight_Number_Reporting_Airline='3501'),
 Row(Year='2000', Month='11', DayofMonth='6', FlightDate='2000-11-06', Tail_Number='N246AA', Flight_Number_Reporting_Airline='1579'),
 Row(Year='2013', Month='1', DayofMonth='7', FlightDate='2013-01-07', Tail_Number='N79402', Flight_Number_Reporting_Airline='1297'),
 Row(Year='1991', Month='2', DayofMonth='13', FlightDate='1991-02-13', Tail_Number=None, Flight_Number_Reporting_Airline='1214'),
 Row(Year='2006', Month='8', DayofMonth='1', FlightDate='2006-08-01', Tail_Number='N382SW', Flight_Number_Reporting_Airline='493'),
 Row(Year='2006', Month='8', DayofMonth='24', FlightDate='2006-08-24', Tail_Number='N989DL', Flight_Number_Reporting_Airline='1596'),
 Row(Year='1992', Month='9', DayofMonth='23', FlightDate='1992-09-23', Tail_Number=None, Flight_Number_Reporting_Airline='55'),
 Row(Year='2008', Month='5', DayofMonth='7', FlightDate='2008-05-07', Tail_Number='N272WN', Flight_Number_Reporting_Airline='3776'),
 Row(Year='2019', Month='5', DayofMonth='8', FlightDate='2019-05-08', Tail_Number='N922DZ', Flight_Number_Reporting_Airline='1416'),
 Row(Year='2016', Month='12', DayofMonth='29', FlightDate='2016-12-29', Tail_Number='N995DL', Flight_Number_Reporting_Airline='750'),
 Row(Year='2004', Month='6', DayofMonth='9', FlightDate='2004-06-09', Tail_Number='N60312', Flight_Number_Reporting_Airline='551'),
 Row(Year='2008', Month='7', DayofMonth='31', FlightDate='2008-07-31', Tail_Number='N736DT', Flight_Number_Reporting_Airline='4755'),
 Row(Year='1993', Month='5', DayofMonth='31', FlightDate='1993-05-31', Tail_Number=None, Flight_Number_Reporting_Airline='1408'),
 Row(Year='2002', Month='12', DayofMonth='4', FlightDate='2002-12-04', Tail_Number='N375DA', Flight_Number_Reporting_Airline='2026'),
 Row(Year='1996', Month='9', DayofMonth='21', FlightDate='1996-09-21', Tail_Number='N601TW', Flight_Number_Reporting_Airline='810'),
 Row(Year='2010', Month='6', DayofMonth='28', FlightDate='2010-06-28', Tail_Number='85609E', Flight_Number_Reporting_Airline='4337'),
 Row(Year='1993', Month='11', DayofMonth='10', FlightDate='1993-11-10', Tail_Number=None, Flight_Number_Reporting_Airline='338'),
 Row(Year='2005', Month='8', DayofMonth='8', FlightDate='2005-08-08', Tail_Number='N815UA', Flight_Number_Reporting_Airline='450'),
 Row(Year='1998', Month='6', DayofMonth='22', FlightDate='1998-06-22', Tail_Number='N606NW', Flight_Number_Reporting_Airline='293'),
 Row(Year='2018', Month='4', DayofMonth='10', FlightDate='2018-04-10', Tail_Number='N335PQ', Flight_Number_Reporting_Airline='5198'),
 Row(Year='2001', Month='6', DayofMonth='16', FlightDate='2001-06-16', Tail_Number='NKNO', Flight_Number_Reporting_Airline='536'),
 Row(Year='2010', Month='12', DayofMonth='11', FlightDate='2010-12-11', Tail_Number='N508MQ', Flight_Number_Reporting_Airline='3771'),
 Row(Year='1998', Month='5', DayofMonth='29', FlightDate='1998-05-29', Tail_Number='N9337', Flight_Number_Reporting_Airline='407'),
 Row(Year='2009', Month='11', DayofMonth='18', FlightDate='2009-11-18', Tail_Number='N468WN', Flight_Number_Reporting_Airline='2113'),
 Row(Year='2015', Month='3', DayofMonth='11', FlightDate='2015-03-11', Tail_Number='N8649A', Flight_Number_Reporting_Airline='1459'),
 Row(Year='2013', Month='1', DayofMonth='31', FlightDate='2013-01-31', Tail_Number='N855UA', Flight_Number_Reporting_Airline='226'),
 Row(Year='2001', Month='8', DayofMonth='28', FlightDate='2001-08-28', Tail_Number='-N626M', Flight_Number_Reporting_Airline='3886'),
 Row(Year='2009', Month='10', DayofMonth='31', FlightDate='2009-10-31', Tail_Number='N14324', Flight_Number_Reporting_Airline='440'),
 Row(Year='2019', Month='11', DayofMonth='10', FlightDate='2019-11-10', Tail_Number='N909EV', Flight_Number_Reporting_Airline='5050'),
 Row(Year='2019', Month='4', DayofMonth='23', FlightDate='2019-04-23', Tail_Number='N342NB', Flight_Number_Reporting_Airline='2583'),
 Row(Year='2003', Month='4', DayofMonth='26', FlightDate='2003-04-26', Tail_Number='N5TKAA', Flight_Number_Reporting_Airline='2891'),
 Row(Year='1991', Month='5', DayofMonth='13', FlightDate='1991-05-13', Tail_Number=None, Flight_Number_Reporting_Airline='459'),
 Row(Year='1988', Month='8', DayofMonth='2', FlightDate='1988-08-02', Tail_Number=None, Flight_Number_Reporting_Airline='234'),
 Row(Year='2011', Month='6', DayofMonth='1', FlightDate='2011-06-01', Tail_Number='N939SW', Flight_Number_Reporting_Airline='6927'),
 Row(Year='2008', Month='6', DayofMonth='30', FlightDate='2008-06-30', Tail_Number='N453UW', Flight_Number_Reporting_Airline='1502'),
 Row(Year='2017', Month='4', DayofMonth='21', FlightDate='2017-04-21', Tail_Number='N809AA', Flight_Number_Reporting_Airline='1816'),
 Row(Year='2019', Month='12', DayofMonth='30', FlightDate='2019-12-30', Tail_Number='N179UW', Flight_Number_Reporting_Airline='1320'),
 Row(Year='2014', Month='9', DayofMonth='8', FlightDate='2014-09-08', Tail_Number='N453SW', Flight_Number_Reporting_Airline='7377'),
 Row(Year='2010', Month='10', DayofMonth='3', FlightDate='2010-10-03', Tail_Number='N11535', Flight_Number_Reporting_Airline='3032'),
 Row(Year='2005', Month='2', DayofMonth='13', FlightDate='2005-02-13', Tail_Number='N3CPAA', Flight_Number_Reporting_Airline='1519'),
 Row(Year='2012', Month='8', DayofMonth='20', FlightDate='2012-08-20', Tail_Number='N911DA', Flight_Number_Reporting_Airline='1832'),
 Row(Year='2001', Month='11', DayofMonth='5', FlightDate='2001-11-05', Tail_Number='N504A', Flight_Number_Reporting_Airline='498'),
 Row(Year='2001', Month='4', DayofMonth='19', FlightDate='2001-04-19', Tail_Number='N351', Flight_Number_Reporting_Airline='348'),
 Row(Year='2019', Month='9', DayofMonth='6', FlightDate='2019-09-06', Tail_Number='N243SY', Flight_Number_Reporting_Airline='3977'),
 Row(Year='2008', Month='7', DayofMonth='4', FlightDate='2008-07-04', Tail_Number='N967DL', Flight_Number_Reporting_Airline='1820'),
 Row(Year='1997', Month='11', DayofMonth='25', FlightDate='1997-11-25', Tail_Number='N76354', Flight_Number_Reporting_Airline='1705'),
 Row(Year='2003', Month='7', DayofMonth='13', FlightDate='2003-07-13', Tail_Number='N508US', Flight_Number_Reporting_Airline='612'),
 Row(Year='2004', Month='5', DayofMonth='15', FlightDate='2004-05-15', Tail_Number='N793AS', Flight_Number_Reporting_Airline='258'),
 Row(Year='2019', Month='11', DayofMonth='25', FlightDate='2019-11-25', Tail_Number='N915NK', Flight_Number_Reporting_Airline='903'),
 Row(Year='2002', Month='1', DayofMonth='23', FlightDate='2002-01-23', Tail_Number='N582A1', Flight_Number_Reporting_Airline='857'),
 Row(Year='2003', Month='2', DayofMonth='9', FlightDate='2003-02-09', Tail_Number='N650BR', Flight_Number_Reporting_Airline='7406'),
 Row(Year='2007', Month='4', DayofMonth='7', FlightDate='2007-04-07', Tail_Number='N787SA', Flight_Number_Reporting_Airline='3239'),
 Row(Year='2002', Month='9', DayofMonth='22', FlightDate='2002-09-22', Tail_Number='N5CVAA', Flight_Number_Reporting_Airline='1142'),
 Row(Year='2007', Month='2', DayofMonth='24', FlightDate='2007-02-24', Tail_Number=None, Flight_Number_Reporting_Airline='804'),
 Row(Year='2019', Month='3', DayofMonth='1', FlightDate='2019-03-01', Tail_Number='N603AT', Flight_Number_Reporting_Airline='2580'),
 Row(Year='2006', Month='9', DayofMonth='14', FlightDate='2006-09-14', Tail_Number='N497', Flight_Number_Reporting_Airline='1006'),
 Row(Year='2018', Month='5', DayofMonth='8', FlightDate='2018-05-08', Tail_Number='N837VA', Flight_Number_Reporting_Airline='1254'),

In [21]:
# show all colunms names
df1.columns

['Year',
 'Month',
 'DayofMonth',
 'FlightDate',
 'Tail_Number',
 'Flight_Number_Reporting_Airline']

In [22]:
#to count total no for rows in dataframe
df1.count()

50001

In [23]:
# to display the statistical properties of all the columns in the dataset
df1.describe().show()

+-------+------------------+-----------------+------------------+----------+-----------+-------------------------------+
|summary|              Year|            Month|        DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+-------+------------------+-----------------+------------------+----------+-----------+-------------------------------+
|  count|             50001|            50001|             50001|     50001|      40158|                          50001|
|   mean|2004.2978140437192| 6.49365012699746|15.707945841083179|      null|       null|             1733.9209215815683|
| stddev| 9.228586295933935|3.455135985501361| 8.757785260118375|      null|       null|              1671.689652545133|
|    min|              1987|                1|                 1|1987-10-01|     -N108D|                              1|
|    max|              2020|                9|                 9|2020-03-31|     NKNO|                            999|
+-------+------------------+-----------------+------------------+----------+-----------+-------------------------------+

In [24]:
#group data by using group() function
df1.select('Year').groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  339|
|2016| 1502|
|2020|  462|
|2012| 1519|
|1988| 1310|
|2019| 1900|
|2017| 1449|
|2014| 1513|
|2013| 1690|
|2005| 1812|
|2000| 1477|
|2002| 1371|
|2009| 1604|
|2018| 1862|
|1995| 1377|
|2006| 1900|
|2004| 1847|
|2011| 1551|
|1989| 1288|
|1992| 1335|
+----+-----+
only showing top 20 rows

In [25]:
d1 = df1.select('Year')
d2 = d1.groupBy('Year')
d3 = d2.count()

In [26]:
d3.show(25)

+----+-----+
|Year|count|
+----+-----+
|1987|  339|
|2016| 1502|
|2020|  462|
|2012| 1519|
|1988| 1310|
|2019| 1900|
|2017| 1449|
|2014| 1513|
|2013| 1690|
|2005| 1812|
|2000| 1477|
|2002| 1371|
|2009| 1604|
|2018| 1862|
|1995| 1377|
|2006| 1900|
|2004| 1847|
|2011| 1551|
|1989| 1288|
|1992| 1335|
|2008| 1724|
|1999| 1475|
|1994| 1376|
|1997| 1336|
|2007| 1901|
+----+-----+
only showing top 25 rows

In [27]:
#group by month
df1.select('Month').groupBy('Month').count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7| 4267|
|   11| 3997|
|    3| 4396|
|    8| 4414|
|    5| 4167|
|    6| 4078|
|    9| 3954|
|    1| 4362|
|   10| 4264|
|    4| 3969|
|   12| 4232|
|    2| 3901|
+-----+-----+

In [30]:
# filter data using filter() function
df1.select('Year').filter("Month = 6").groupBy( 'Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|2016|  133|
|2012|  139|
|1988|  110|
|2019|  182|
|2017|  111|
|2014|  126|
|2013|  142|
|2005|  140|
|2000|  110|
|2002|  108|
|2018|  148|
|2009|  138|
|1995|  101|
|2006|  162|
|2004|  131|
|2011|  138|
|1989|  105|
|1992|  108|
|2008|  167|
|1999|  130|
+----+-----+
only showing top 20 rows

In [31]:
#to print schema of columns use printSchema() function
df1.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- FlightDate: string (nullable = true)
 |-- Tail_Number: string (nullable = true)
 |-- Flight_Number_Reporting_Airline: string (nullable = true)